
body{
background-image: url(assets/bg-image.png);
background-color: #573824;
background-size: cover;
}

#page{
width: 800px;
padding: 24px;
background-color: #F0E8C2;
border-radius: 24px;
margin: 48px auto;

}

img {
  border-radius: 16px;
}